doctype html
html(lang='en')
 head
   title Expense Tracker - Spending Categorization
   script(src="https://www.gstatic.com/charts/loader.js")
   script.
      let categories = !{JSON.stringify(categories)};
      
      google.charts.load('current', {packages: ['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
         // Define the chart to be drawn.
         let data = new google.visualization.DataTable();
         data.addColumn('string', 'Category');
         data.addColumn('number', 'Percentage Spend');
         
         for (let i = 0; i < categories.length; i++) {
            data.addRow([categories[i].category, categories[i].percent]);
         }

         let options = {
            title:'Spending Categorization - % of Total Spend per Billing Cycle',
            width: 1200,
            height: 750,
            colors: ['#83acdc']
         }

         let chart = new google.visualization.BarChart(document.getElementById('myChart'));
         chart.draw(data, options);
      }
   
   style 
      include ./style.css
 body
   div
      a(href="http://localhost:8081/"): button(type="button") Home - Transactions
      a(href="http://localhost:8081/categorization"): button(type="button") Spending Categories
   hr
   h1 Expense Tracker - Spending Categorization
   div 
      h2=userFileName
   
   div#myChart

   div
     table
      tr
         th Category 
         th Total Spend 
         th % of Total Spend
      each val in categories 
         tr 
            td=val.category
            td=val.totalSpend
            td=val.percent